header{   
    background-image: url(../img/beachshowcase.jpg);    
    background-size: cover;
    background-position: center;
    height: 100vh;   
    justify-content: center;    
    align-items: center;
    text-align: center;   
} 
.header{
    display: inline-block;
    margin-top: 30vh;
}